/*!
  ==================================================
  * Portfolio - Zowie van Geest - Theme - V1.0.0 (Based on Buefy and Bulma)
  ==================================================
*/

@import 'portfolio/variables';
body {
  font-family: 'Poppins', sans-serif;
  background: #0e0e0e;
}

section {
  padding: 2rem 1.5rem 8rem 1.5rem;
}
