.footer {
  color: #fff;
  background: #0e0e0e;
  & .container {
    margin: 80px auto;
    & .subtitle {
      margin-top: 10px;
      font-weight: 200;
    }
    & .under-line {
      margin-top: 40px;
      & svg {
        stroke: #05adff;
        stroke-width: 4.3;
      }
    }
  }
  & .copyright {
    padding: 20px;
    background: #05adff;
    & .copyright-txt {
      font-weight: 600;
    }
    & .heart-icon {
      margin-right: 10px;
      color: red;
      animation: 0.8s infinite beatHeart;
    }
  }
}

@keyframes beatHeart {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.2);
  }
  40% {
    transform: scale(1);
  }
  60% {
    transform: scale(1.2);
  }
  100% {
    transform: scale(1);
  }
}
