.is-tag-outline-primary {
  color: #fff;
  background-color: transparent;
  border: 1px solid #55c5cf;
}
.is-tag-outline-danger {
  color: #fff;
  background-color: transparent;
  border: 1px solid #ff3860;
}
.is-tag-outline-success {
  color: #fff;
  background-color: transparent;
  border: 1px solid #23d160;
}
.is-tag-outline-white {
  color: #fff;
  background-color: transparent;
  border: 1px solid #fff;
}
