.title-container {
  padding-top: 70px;
  & .page-title {
    z-index: 3;
    display: block;
    padding-top: 50px;
    text-align: center;
    text-transform: capitalize;
    & .under-line {
      margin-top: 60px;
      & svg {
        stroke: #05adff;
        stroke-width: 4.3;
      }
    }
    & .new-title {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 5;
      padding-top: 120px;
      margin: auto;
      font-size: 28px;
      font-weight: 700;
      color: #fff;
    }
    & span {
      position: absolute;
      top: 0;
      right: 0;
      bottom: 0;
      left: 0;
      z-index: 2;
      padding-top: 75px;
      margin: auto;
      font-size: 82px;
      font-weight: 700;
      color: #0e0e0e;
    }
  }
}
